#uptown > header {
	padding: 12em 0 10em 0;
	background-image: -moz-linear-gradient(
			top,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url("../../images/7thStreet_01.jpeg");
	background-image: -webkit-linear-gradient(
			top,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url("../../images/7thStreet_01.jpeg");
	background-image: -ms-linear-gradient(
			top,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url("../../images/KingswoodSign.jpg");
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../../images/7thStreet_01.jpeg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.topnavbar {
	float: left;
	color: #f2f2f2;
	text-align: justify;
	/* padding: 14px 16px; */
	text-decoration: none;
	font-size: 17px;
	width: 50em;
}

.topnavlink {
	padding: 0% 5%;
	text-decoration: none;
	border-bottom: none;
}

.topnavlink.active {
	color: aqua;
}

.topnavlink:hover {
	font-weight: bold;
}

.image.landingpic {
	margin: 5px;
	margin-top: 30px;
}

#uptownButton {
	margin-left: 28%;
	margin-bottom: 15px;
}

#hwdFooter {
	text-decoration: none;
	border-bottom: none;
}
